:root {
    /* Sizes */
    font-size: 12px;

    /* Colors */
    --primary-color: #406b8c;
    --secondary-color: #c7c7c7;
    --section-ttl-color: #4D8EA5;
    --place-color: #868A8C;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 1024px;
    margin: auto;
    border: 1px solid var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.header-name{
    font-size: 3rem;
}

.header-ttl{
    font-size: 2rem;
}

.contact{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
        height: 10rem;
    }

    .header-name{
        font-size: 2.5rem;
    }

    .header-ttl{
        font-size: 1.5rem;
    }

    .contact{
        font-size: 1.3rem;
    }
}

/* MAIN */

/* KNOWLEDGE */

.main{
    display: flex;
    flex-direction: column;
}

.section{
    padding: 1rem;
}

.section-ttl{
    font-size: 2rem;
    text-align: center;
    color: var(--section-ttl-color);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--section-ttl-color);
}

.section-item{
    padding: 5px;
    font-size: 1.2rem;
}

.bold{
    font-weight: bold;
}

.place{
    color: var(--place-color);
}

/* MENU DEROULANT */

.pref{
    display: none;
}

/* INFO */

.info-container{
    display: none;
}

.info-list{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 1.5rem;
    padding-bottom: 1.5rem;
}

.modal-parent{
    position: relative;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    bottom: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--section-ttl-color);
    border-radius: 5px;
    width: 70%;
    height: 100px;
}

.info-btn{
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .body{
        height: 100vh;
    }

    .main{
        flex-direction: row;
        justify-content: space-between;
    }

    .knowledge{
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .modal{
        display: none;
    }
    
    .infos{
        width: 30%;
        padding: 1rem;
    }

    .info-supp{
        display: none;
    }
    
    .info-list{
        display: none;
    }

    .pref{
        display: block;
        width: 80%;
        margin: auto;
    }

    .label{
        font-size: 1.2rem;
    }

    .select{
        font-size: 0.9rem;
    }
    
    .info-container{
        display: block;
        position: relative;
        top: 100px;
    }
}