:root {
    /* Sizes */
    font-size: 12px;

    /* Colors */
    --primary-color: #406b8c;
    --secondary-color: #c7c7c7;
    --section-ttl-color: #4D8EA5;
    --place-color: #868A8C;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.header-name{
    font-size: 3rem;
}

.header-ttl{
    font-size: 2rem;
}

.contact{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

/* MAIN */

/* KNOWLEDGE */

.section{
    padding: 1rem;
}

.section-ttl{
    font-size: 2rem;
    text-align: center;
    color: var(--section-ttl-color);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--section-ttl-color);
}

.section-item{
    padding: 5px;
    font-size: 1.2rem;
}

.section-item-ttl{
    font-weight: bold;
}

.place{
    color: var(--place-color);
}

/* INFO */

/* MENU DEROULANT */

.pref{
    display: none;
}